<main class="position-relative">

    <app-side-nav
    (toggleCalendar)="toggleCalendarFunc($event)"
    ></app-side-nav>

    <nav class="row w-100 text-light m-0">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h4>
                <strong>MyScheduler</strong>
            </h4>
        </div>

        <!-- <div class="w-100 mt-auto"
          style="background: red; height: 2px; margin-left: 58px;">
        </div> -->
    </nav>

    <div
    class="widgets"
     [ngClass]="{'d-flex evenly': !toggleCalendar}">

     
        <div class="row m-0 mt-4 main-row"
         [ngClass]="{'hide' : !toggleCalendar}"
        >
            <div class="col-10 bg-calendar shadow py-4 position-relative">

                <div class="row w-100" style="height: 50px;"
                [ngClass]="{'hide-content': !toggleCalendar}">

                    <div class="col-12 d-flex justify-content-between">
            
                        <div class="d-flex align-items-center">
            
                            <h4>{{startOfWeek | date:'dd. M.'}}</h4>
                            <h4 class="mx-1">-</h4>
                            <h4>{{endOfWeek | date:'dd. M. YYYY.'}}</h4>
            
                        </div>
            
                        <div class="d-flex">
            
                            <span (click)="previousWeek()" class="mx-5 pointer week">
                                <i class="bi bi-caret-left fs-2" style="font-size: 35px;"></i>
                            </span>
            
            
                            <span (click)="nextWeek()" class="pointer week">
                                <i class="bi bi-caret-right fs-2" style="font-size: 35px;"></i>
                            </span>
            
                        
                        </div>
            
                    </div>
            
                </div>
            
                <div class="row w-100"
                [ngClass]="{'hide-content': !toggleCalendar}">
            
                    <div class="col-1">
                        
                    </div>
            
                    <div class="col" *ngFor="let day of weekdays">
                    <h4>
                        <strong>
                            {{ day | date:'dd.'}}
                        </strong>
                    </h4>
                    </div>
                </div>
            
                <div class="row w-100 h-100 calendar-row p-4"
                [ngClass]="{'hide-content': !toggleCalendar}">
            
            
            
                    <div class="col-1" >
            
                        
                        <div *ngFor="let hour of hours" class="cells cells-hour">
                            <h4>
                                <strong>
                                    {{ hour }}
                                </strong>
                            </h4>
                        </div>
            
                    </div>
            
                    <div class="col p-0" *ngFor="let day of weekdays">
                        <div *ngFor="let hour of hours" class="cells border">
                            
                            <div 
                                class="appointment"
                                (click)="open(content, day, hour)"
                                *ngIf="appointments[ day | date:'y-MM-dd' +'T'+hour]">
                                <h4>
                                    {{ appointments[ day | date:'y-MM-dd' +'T'+hour].length  }}
                                    <span *ngIf="appointments[ day | date:'y-MM-dd' +'T'+hour].length > 1"></span>
                                </h4>
            
                                <ng-template #content let-modal>
            
                                    <div class="d-flex justify-content-end">
                                        <i 
                                        *ngIf="!leftArrowStatus"
                                        (click)="previousAppointments( day+hour )" 
                                        class="bi bi-caret-left-fill fs-2 mx-5 pointer"
                                        style="font-size: 35px;"></i>
            
                                        <i *ngIf="leftArrowStatus" 
                                        class="bi bi-caret-left fs-2 mx-5 pointer"
                                        style="font-size: 35px;"
                                        ></i>
            
                                        <i  
                                        *ngIf="!rightArrowStatus"
                                        (click)="nextAppointments( day,hour )" 
                                        class="bi bi-caret-right-fill fs-2 pointer"
                                        style="font-size: 35px;"></i>
            
                                        <i *ngIf="rightArrowStatus" 
                                        class="bi bi-caret-right fs-2 pointer"
                                        style="font-size: 35px;"></i>
                                    </div>
            
                                <div *ngFor="let app of data">
                                    <div class="modal-body">
            
            
                                        <div class="d-flex flex-column py-3">
                                        
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex">
                                                    <div class="mx-2">
                                                        <h4 class="fs-1 roboto">
                                                            <i class="text-primary bi bi-calendar-week px-2"></i>
                                                            <strong>{{ app.date | date: 'EEEE, MMMM d, y' }}</strong>
                                                        </h4>
                                                    </div>
            
                                                    <div class="mx-2">
                                                        <h4 class="fs-1 roboto">
                                                            <i class="text-primary bi bi-clock px-2"></i>
                                                            <strong>{{ app.date | date:'HH:mm'}}</strong>
                                                        </h4>
                                                    </div>
                                                </div>
            
                                                <div>
                                                    <h2 class="text-danger pointer trash">
                                                        <i class="bi bi-trash"></i>
                                                    </h2>
                                                </div>
                                            </div>
            
                                            <div class="p-3 bg-light border">
            
                                                <div class="d-flex justify-content-between pb-2">
                                                    <div>
                                                        <h4 class="fs-1 roboto">
                                                            <strong>{{ app.property.name }}</strong>
                                                        </h4>
                                                        <h4 class="roboto fs-1">
                                                            {{ app.property.address.street }}
                                                            {{ app.property.address.houseNumber }}
                                                            {{ app.property.address.city }}
                                                            {{ app.property.address.country }}
                                                            {{ app.property.address.zipCode }}
                                                        </h4>
                                                    </div>
            
                                                    <div>
                                                        <h4 class="fs-1 roboto">
                                                            <strong>{{ app.property.user.profile.firstname + ' ' }}</strong>
                                                            <strong>{{ app.property.user.profile.name }}</strong>
                                                        </h4>
                                                        <h4 class="fs-1 roboto">
                                                            {{ app.property.user.usertype }}
                                                        </h4>
                                                    </div>
                                                </div>
            
                                                <!-- *** -->
                                                <div class="d-flex justify-content-between border p-3">
            
                                                    <div class="d-flex align-items-center">
                                                        <div class="mx-2">
                                                            <h4 class="fs-1 roboto m-0">
                                                                <i class="text-primary bi bi-calendar-week px-2"></i>
                                                                {{ app.date | date: 'EEEE, MMMM d, y' }}
                                                            </h4>
                                                        </div>
            
                                                        <div class="mx-2">
                                                            <h4 class="fs-1 roboto m-0">
                                                                <i class="text-primary bi bi-clock px-2"></i>
                                                                {{ app.date | date:'HH:mm'}}
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <!-- * -->
            
                                                    <div class="d-flex px-2">
            
                                                        <h4 class="m-0 fs-2 px-2">
                                                            <i class="bi bi-person text-primary"></i>
                                                        </h4>
            
                                                        <h4 class="fs-1 roboto m-0 d-flex align-items-center">
                                                            {{ app.attendeeCount }}
                                                            |
                                                            {{ app.maxInviteeCount}}
                                                        </h4>
            
            
                                                    </div>
            
                                                </div>
            
                                                <!-- *** -->
            
                                            
            
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                </ng-template>
                            </div>
            
                        </div>
            
                    </div>
            
            
                </div>

                <!-- Hide -->
                <div
                *ngIf="!toggleCalendar"
                class="w-100 h-100 position-absolute" style="top:200px; left: 80px;">
                    <h1 class="text-light">
                        SCHEDULER
                    </h1>
                </div>

            </div>
        </div>

        <div class="calendar mt-4"
        [ngClass]="{'d-none': toggleCalendar}">
            <app-calendar></app-calendar>
        </div>

        <div 
        [ngClass]="{'d-none': toggleCalendar}"
        class="mt-4 next-app">
            <div *ngIf="nextStatus">
                <app-next-appointment
                    [appointments]="appointments"
                ></app-next-appointment>
            </div>
        </div>

    </div>


</main>