/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";



// DATEPICKER

.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday{
    width: 4rem !important;
    height:  4rem !important;
}

.ngb-dp-week{
    background: white;
}




// MODAL

.modal-dialog{
    width: 80% !important;
    max-width: unset !important;
    height: 100% !important;
}


// SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(59, 59, 59); 
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80); 
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b6b6b; 
}


@media screen and(max-width: 600px) {
    
    .ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday{
        width: 2.5rem !important;
        height:  2.5rem !important;
    }
}


